<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    min-height: 100vh;
  }

  footer {

    bottom: 0;
    width: 100%;

    background: #3586ff;
    min-height: 100px;

    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  footer ul li {
    margin: 0 10px;
  }

  footer a {
    font-size: 1.2em;
    color: #ccc;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
  }

 

  footer a:hover {
    transform: translateY(-15px);

    color: blue;
  }

  footer p {
    color: white;
    text-align: center;
    font-size: 1.1em;
    margin-top: 15px;

   
  }
</style>

<footer>
  <ul>
    <li><a href="https://www.facebook.com/www.bavaria/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    <li><a href="https://www.instagram.com/z_ashref/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
  </ul>



  <p class="copyright"> Made with ❤️ in Tunisia.</p>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</html>
