<%- include("partials/header.ejs") %>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1 {
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .profile {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }

  p {
    text-align: center;
  }

  footer {
    margin-top: auto;
  }
</style>

<div class="container">
  <h1>About Us</h1>
  <img src="public/tunisia_2349084.png" alt="Placeholder Image" class="profile">
  <p>
    In the ever-evolving landscape of technology, deep learning has emerged as a captivating field, unlocking new possibilities and reshaping industries. From image recognition to natural language processing, the applications of deep learning are vast and transformative.

    This blog post delves into the core concepts of deep learning, exploring its neural networks and intricate algorithms. We'll unravel the magic behind neural networks, understanding how layers of interconnected nodes work in harmony to mimic human-like learning.
    
    As we navigate this technological journey, we'll witness the impact of deep learning on various sectors, from healthcare to finance. The ability of machines to learn and adapt is revolutionizing how we approach complex problems, offering innovative solutions and paving the way for a future where artificial intelligence plays a pivotal role.
    
    Join us in this exploration of the wonders of deep learning, where bytes of data become the building blocks of intelligence, and algorithms become the architects of a smarter, more connected world.
  </p>
</div>

<%- include("partials/footer.ejs") %>

